* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    user-select: none;
    z-index: 50;
}

.icon {
    width: 40px;
    filter: invert(70%);
}

.link {
    color: #e48e15;
    font-weight: bolder;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
    display: inline-block;
}

.social {
    color: #e48e15;
    margin: 0 10px;
    font-size: 20px;
    display: inline-block;
}

.menu {
    display: none;
    color: #e48e15;
    font-size: 40px;
    margin: 0 15px;
    cursor: pointer;
}

.cruz {
    display: none;
    color: #e48e15;
    font-size: 30px;
    cursor: pointer;
}

:is(.icon, .link, .social, .menu, .cruz):hover {
    transition: 0.3s;
    transform: scale(1.2,1.2);
}

.container-photo {
    background: linear-gradient(
        rgb(0 0 0 / 0.4),
        rgb(0 0 0 / 0.4)),
        url(https://distintaslatitudes.net/storage/2017/09/GUSTAVO-CERATI.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    text-align: end;
    text-shadow: 2px 2px 2px black;
    user-select: none;
}

span {
    font-size: 0.6em;
    font-weight: lighter;
}

.main-container {
    background-color: #dddfe7;
    text-align: center;
}

h2 {
    font-weight: bolder;
    font-size: 37px;
    margin-bottom: 25px;
    padding-top: 35px;
}

.p-container p {
    text-align: justify;
    margin: 15px 35px;
    font-size: larger;
    line-height: 1.5;
}

.links-wiki, h2 {
    color: #e48e15;
    text-shadow: 1px 1px 1px black;
}

.p-container {
    display: inline-block;
    max-width: 1200px;
}

.estatua {
    object-position:  0 -70px;
}
.card img {
    padding: 10px 35px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.footer-container{
    background-color: #dddfe7;
    padding: 15px 0 25px;
    text-align: center;
    font-size: smaller;
    user-select: none;
}

@media (max-width: 800px) {
    .link {
        margin-bottom: 50px;
        font-size: 20px;
    }
    .links {
        display: none;
    }

    .social {
        font-size: 35px;
        margin: 0 25px;
    }

    .links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .socialMedia {
        display: none;
    }

    .socialMedia.active {
        display: inline;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar.active {
        position: fixed;
        height: 100%;
        background-image: linear-gradient(
            to top,
            rgba(0,0,0,0.5),
            rgba(0,0,0,1));
        transition: 0.8s;
        flex-direction: column;
    }

    .cruz.active {
        display: block;
        margin-bottom: 100px;
    }
    .icon.active {
        display: none;
    }

    .menu.active {
        display: none;
    }

    .icon {
        margin: 0px 15px;
    }

    .menu{
        display: inline;
    }
}

@media (min-width: 690px) {
    .container-photo {
        height: 690px;
        font-size: larger;
    }
    p {
        margin: 0px 200px;
    }

    .cards_container {
        display: flex;
        margin: 35px;
    }

    .card {
        height: 400px;
        flex: 1;
        transition: .3s;
        overflow: hidden;
    }

    .card img {
        object-fit: cover;
        width:100%;
        height:100%;
        padding: 0;
    }

    .card:hover {
        flex: 3;
    }

    .estatua {
        object-position:  0;
    }
}

.etapas {
    padding: 0 35px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.div_etapas {
    overflow: hidden;
    z-index: 0;
}

.etapas {
    transition: all 0.6s ease-in-out;
    
}

.etapas:hover {
    transform: scale(1.1,1.1);
    transition: all 0.6s ease-in-out;
}
